::-webkit-scrollbar {
  display: none;
}
html,
body {
  margin: 0;
  height: 100%;
  background: #213040;
  font: 13px/18px -apple-system, "Helvetica Neue", "Lucida Grande",
    "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  color: #fff;
  text-rendering: geometricPrecision;
}

body {
  /* https://medium.com/appscope/designing-native-like-progressive-web-apps-for-ios-1b3cdda1d0e8 */
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background: #213040;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  flex-grow: 1;
  overflow: auto;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.chats {
  width: 100%;
}
li {
  position: relative;
}

.actions {
  background: hsl(210, 30%, 13%);
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.actions-left,
actions-right {
  display: flex;
}

.content-container {
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.content-inner.touch {
  background: #000;
}

.content-inner.touch .content-wrapper {
  transform: scale(0.9, 0.9);
}

.sliding .content-inner.touch {
  background: hsl(210, 30%, 13%);
}

.sliding .content-inner.touch .content-wrapper {
  transform: scale(1, 1);
}

.content {
  z-index: 2;
  position: relative;
  width: 100%;
  display: flex;
}
.content-inner {
  background: hsl(210, 30%, 13%);
  padding: 0.5rem;
  position: relative;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.content-inner .content-wrapper {
  display: flex;
  transition: transform 200ms;
}

.buff-left,
.buff-right {
  scroll-snap-align: start;
  height: 1px;
  background: rgba(200, 200, 200, 0.1);
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-right: 10px;
}

.title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 2px;
}
.message {
  color: #6f7b86;
}

.channel {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  border-bottom: 1px solid #2b3a49;
  flex-grow: 1;
  padding-bottom: 6px;
}

button {
  min-width: 6rem;
  border: 0;
  background: 0;
  height: 100%;
  color: #fff;
  font: inherit;
  margin: 0;
  display: block;
  font-weight: bold;
  padding: 0 1rem;
}

button:first-child {
  z-index: 5;
}
button:last-child {
  z-index: 1;
}

.actions-left button {
}

.unread {
  background: #30a6fd;
}
.pin {
  background: #06a723;
}
.delete {
  background: red;
}

header {
  width: 100%;
  padding: 1rem;
  padding-bottom: 1.5rem;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

input {
  background: #192530;
  height: 35px;
  border-radius: 10px;
  border: 0;
  margin: 3px auto;
  width: 100%;
  display: block;
  padding: 0 1rem;
}

input::placeholder {
  font-family: inherit;
  font-size: 17px;
  text-align: center;
  color: #88929b;
}

nav .item {
  color: #36a2d6;
  font-weight: 500;
  padding: 0.8rem 1px;
  display: inline-block;
  border-bottom: 3px solid #36a2d6;
  font-size: 14px;
}
nav {
  padding: 0 1.3rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #213040;
  border-bottom: 1px solid #2b3a49;
}
.search {
  padding: 0 1rem;
}
.overlay {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  z-index: 20000;
  display: none;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(0.4, 0.4);
  }
  100% {
    transform: scale(1, 1);
  }
}

.overlay-visible {
  display: block;
  animation: 200ms opacity;
  opacity: 1;
}

.overlay-visible .overlay-content {
  animation: 300ms scale;
}

.chat-preview {
  background: #18222e;
  border-radius: 14px;
  overflow: hidden;
}
.chat-preview-title {
  font-weight: 500;
  font-size: 16px;
}
.chat-preview-content {
  height: 300px;
}
.chat-preview-header {
  padding: 5px 0;
  background: #213040;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-actions {
  background: #1f2b38;
  border-radius: 15px;
  width: 240px;
  margin-top: 0.8rem;
}

.overlay-actions li {
  padding: 0.8rem 1.5rem;
  font-weight: 400;
  border-bottom: 1px solid #2a3643;
  font-size: 14px;
}
.overlay-actions li:last-child {
  border-bottom: 0;
}
.chat-preview-members {
  color: #6f7b86;
}
