html,
body {
  margin: 0;
  height: 100%;
  background: #000;
}

body {
  /* https://medium.com/appscope/designing-native-like-progressive-web-apps-for-ios-1b3cdda1d0e8 */
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* overflow: hidden; */
  background: #000;
  position: relative;
}

.button {
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 70px;
  background: #000;
  border: 4px solid #fff;
  position: relative;
}

.button::after {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 100%;
  background: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: transform 300ms;
  transform-origin: 50% 50%;
}

.button:active::after {
  transform: scale(0.9, 0.9);
}

#controls {
  padding-top: 1.5rem;
}

video {
  width: 100%;
}

#debug {
  position: fixed;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  padding: 1rem;
  opacity: 0;
}
